@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rodrigo Araújo</h1>
    <h4 class="display-4"> rodrigo.araujo@al.infnet.edu.br</h4>
    <p>TESTE DE PERFORMANCE - TP1 [OBRIGATÓRIO] 
        <a href="https://lms.infnet.edu.br/moodle/mod/assign/view.php?id=175195">Correção by:  Prof. Júlio César Guimarães</a>.
    </p>
</div>
